{% extends "base.html" %}

{% block content %}

<h1 class="head">Timeline</h1>

            <div class = "container1">
                <p>
                    Lead Name:
                        {{curr_lead.name}}
                    
                </p>

                <p>
                    Date Created:
                        {{curr_lead.created_date}}
                    
                </p>
            </div>
        
        <div class="followup">
            <h3>FOLLOW-UPS</h3>
            {% for followup in curr_lead.followups.all %}
            <div class="mt-5 shadow px-4 sm:px-6 bg-white">

                <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 bg-white">
                    
                    <dt class="text-sm font-medium text-gray-500 bg-white">
                    Notes (<a href="{% url 'leads:lead-followup-update' followup.pk %}" class="text-blue-500 hover:text-blue-700">update</a>)
                    </dt>
                    
                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 bg-white">
                    {{ followup.notes }}
                    </dd>

                    <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 bg-white">
                        {{ followup.date }}
                        </dd>

                </div>

                {% if followup.file %}
                <p>
                        
                        <dt class="text-sm font-medium text-gray-500">
                        Attachments
                        </dt>

                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                        
                            <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                           
                                <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                
                                <div class="w-0 flex-1 flex items-center">
                                    <!-- Heroicon name: paper-clip -->
                                    
                                    <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                    <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                                    </svg>

                                    <span class="ml-2 flex-1 w-0 truncate">
                                    {{ followup.file.name }}
                                    </span>

                                </div>

                                <div class="ml-4 flex-shrink-0">
                                    <a href="{{ followup.file.url }}" download class="font-medium text-indigo-600 hover:text-indigo-500">
                                    Download
                                    </a>
                                </div>
                                
                            </li>
                        </ul>
                        </dd>
                    </div>
                </p>
                {% endif %}

            

            </div>
            </p>
            {% endfor %}
        </div>
            
        {%if curr_opp is not NULL%}
            <div class="container2">
                <p>
                    Opportunity Name:
                        {{curr_opp.name}}
                    
                </p>
                <p>
                    Date Converted:
                        {{curr_lead.converted_date}}
                    
                </p>
            </div>                
            
            

            <div class="followup">
                <h3>FOLLOW-UPS</h3>
                {% for followup in curr_opp.followups_opp.all %}
                
            
            
                
                
    
                <div class="mt-5 shadow px-4 sm:px-6 bg-white">
    
                    <div class="py-4 sm:py-5 sm:grid sm:grid-cols-3 sm:gap-4 bg-white">
                        
                        <dt class="text-sm font-medium text-gray-500 bg-white">
                        Notes (<a href="{% url 'leads:lead-followup-update' followup.pk %}" class="text-blue-500 hover:text-blue-700">update</a>)
                        </dt>
                        
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 bg-white">
                        {{ followup.notes }}
                        </dd>
    
                        <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2 bg-white">
                            {{ followup.date }}
                            </dd>
    
                    </div>
    
                    {% if followup.file %}
                    <p>
                            
                            <dt class="text-sm font-medium text-gray-500">
                            Attachments
                            </dt>
    
                            <dd class="mt-1 text-sm text-gray-900 sm:mt-0 sm:col-span-2">
                            
                                <ul class="border border-gray-200 rounded-md divide-y divide-gray-200">
                               
                                    <li class="pl-3 pr-4 py-3 flex items-center justify-between text-sm">
                                    
                                    <div class="w-0 flex-1 flex items-center">
                                        <!-- Heroicon name: paper-clip -->
                                        
                                        <svg class="flex-shrink-0 h-5 w-5 text-gray-400" xmlns="http://www.w3.org/2000/svg" viewBox="0 0 20 20" fill="currentColor" aria-hidden="true">
                                        <path fill-rule="evenodd" d="M8 4a3 3 0 00-3 3v4a5 5 0 0010 0V7a1 1 0 112 0v4a7 7 0 11-14 0V7a5 5 0 0110 0v4a3 3 0 11-6 0V7a1 1 0 012 0v4a1 1 0 102 0V7a3 3 0 00-3-3z" clip-rule="evenodd" />
                                        </svg>
    
                                        <span class="ml-2 flex-1 w-0 truncate">
                                        {{ followup.file.name }}
                                        </span>
    
                                    </div>
    
                                    <div class="ml-4 flex-shrink-0">
                                        <a href="{{ followup.file.url }}" download class="font-medium text-indigo-600 hover:text-indigo-500">
                                        Download
                                        </a>
                                    </div>
                                    
                                </li>
                            </ul>
                            </dd>
                        </div>
                    </p>
                    {% endif %}
    
                
    
                </div>
                </p>
                {% endfor %}
            </div>
            {%endif%}

          
        
<style>

.mr-2 {
    margin-left: 30px; 
}

    .head{
        font-size: 60px;
        margin-top: 40px;
    }

    .container1{
        border: 1px solid #ccc; /* Add a border */
        padding: 10px; /* Add some padding inside the box */
        background-color: #e5f6fc; /* Add a background color */
        border-radius: 5px; /* Add rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
        margin-top: 40px;
        
    }
    .container2{
        border: 1px solid #ccc; /* Add a border */
        padding: 10px; /* Add some padding inside the box */
        background-color: #e5f6fc; /* Add a background color */
        border-radius: 5px; /* Add rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }
    .followup{
        border: 1px solid #ccc; /* Add a border */
        padding: 10px; /* Add some padding inside the box */
        background-color: #e5f6fc; /* Add a background color */
        border-radius: 5px; /* Add rounded corners */
        box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1); /* Add a subtle shadow */
    }

    .container1, .container2, .followup {
    margin-bottom: 20px;
    }

</style>

{% endblock content %}