<!-- tasks_list.html -->
{% extends "base.html" %}
{% load tailwind_filters %}

{% block content %}
<div class="max-w-6xl mx-auto">
    <div
      class="w-full mb-6 py-6 flex justify-between items-center border-b border-gray-200"
    >
      <div>
        <h1 class="text-4xl text-gray-800">Tasks</h1>
      </div>
      <!-- {% if request.user.is_organizer %} -->
      <div>
        <a
          class="text-gray-500 hover:text-blue-500"
          href="{% url 'tasks:task-create' %}"
        >
          Create New Task
        </a>
      </div>
      <!-- {% endif %} -->
    </div>
    <div class="grid grid-cols-3 gap-4 mt-8">
        <div class="column">
            <div class="kanban-container" id="todo">
            <h2 class="text-2xl font-bold mb-4">To Do</h2>
                {% for task in task_todo %}
                    <div class="kanban-card" data-id="{{ task.id }}">
                        <div class="kanban-card-title"><a
                          class="text-blue-500 hover:text-black-800"
                          href="{% url 'tasks:task-detail' task.pk %}"
                          >{{ task.title }} </a
                        ></div>
                        <div class="kanban-card-description"><span class="text-gray-500">Description:</span> {{ task.referenceNotes }}</div>
                        <div class="kanban-card-description"><span class="text-gray-500">Start:</span> {{ task.start_date }}</div>
                        <div class="kanban-card-description"><span class="text-gray-500">Deadline:</span> {{ task.deadline }}</div>
                    </div>
                {% endfor %}
            </div>
            
        </div>

        <div class="column">
            <div class="kanban-container" id="in_progress">
            <h2 class="text-2xl font-bold mb-4">In Progress</h2>
            {% for task in task_in_progress %}
              <div class="kanban-card" data-id="{{ task.id }}">
                  <div class="kanban-card-title"><a
                    class="text-blue-500 hover:text-black-800"
                    href="{% url 'tasks:task-detail' task.pk %}"
                    >{{ task.title }} </a
                  ></div>
                  <div class="kanban-card-description"><span class="text-gray-500">Description:</span> {{ task.referenceNotes }}</div>
                  <div class="kanban-card-description"><span class="text-gray-500">Start:</span> {{ task.start_date }}</div>
                  <div class="kanban-card-description"><span class="text-gray-500">Deadline:</span> {{ task.deadline }}</div>
              </div>
          {% endfor %}
            </div>

        </div>

        <div class="column">
            <div class="kanban-container" id="done">
            <h2 class="text-2xl font-bold mb-4">Done</h2>
            {% for task in task_done %}
              <div class="kanban-card" data-id="{{ task.id }}">
                  <div class="kanban-card-title"><a
                    class="text-blue-500 hover:text-black-800"
                    href="{% url 'tasks:task-detail' task.pk %}"
                    >{{ task.title }} </a
                  ></div>
                  <div class="kanban-card-description"><span class="text-gray-500">Description:</span> {{ task.referenceNotes }}</div>
                  <div class="kanban-card-description"><span class="text-gray-500">Start:</span> {{ task.start_date }}</div>
                  <div class="kanban-card-description"><span class="text-gray-500">Deadline:</span> {{ task.deadline }}</div>
              </div>
          {% endfor %}
            </div>            
        </div>
    </div>
</div>
<style>
    .column {
        flex: 1;
    }

    .grid {
        display: grid;
    }

    .grid-cols-3 {
        grid-template-columns: repeat(3, minmax(0, 1fr));
    }

    .table {
        border-collapse: collapse;
        width: 100%;
    }

    .table th,
    .table td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .table th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

    .kanban-container {
        background-color: #f9f9f9;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 10px;
        height: 400px;
        overflow-y: auto;
    }
    .kanban-header {
        padding: 10px;
        border-radius: 5px 5px 0 0;
        margin-bottom: 8px;
    }

    .kanban-card {
        background-color: #fff;
        border: 1px solid #ddd;
        border-radius: 5px;
        padding: 8px;
        margin-bottom: 8px;
    }
    .table-scroll {
        border-collapse: collapse;
        width: 100%;
    }

    .table-scroll th,
    .table-scroll td {
        border: 1px solid #ddd;
        padding: 8px;
        text-align: left;
    }

    .table-scroll th {
        background-color: #f2f2f2;
        font-weight: bold;
    }

</style>
{% endblock content %}
