{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <div class="w-full flex items-center justify-between space-x-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-3">
                            <h3 class="text-3xl text-gray-900 font-medium truncate">{{ tasks.title }} </h3>
                        </div>
                        <p class="mt-1 text-xl text-gray-500 truncate">{{ tasks.referenceNotes }}</p>
                    </div>
                    
                </div>
                <div class="flex mb-4">
                    <a href="{% url 'tasks:task-detail' tasks.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                        Overview
                    </a>
                    <a href="{% url 'tasks:task-update' tasks.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        Update Details
                    </a>    
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">title</span>
                    <span class="ml-auto text-gray-900">{{ tasks.title }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">designated_lead</span>
                    <span class="ml-auto text-gray-900">
                        <a class="text-blue-500 hover:text-blue-800" 
                        href="{% url 'leads:lead-detail' tasks.lead.pk  %}">
                            {{ tasks.lead }}
                        </a>
                    </span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">creation_date</span>
                    <span class="ml-auto text-gray-900">{{ tasks.creation_date }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">start_date</span>
                    <span class="ml-auto text-gray-900">{{ tasks.start_date }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">deadline</span>
                    <span class="ml-auto text-gray-900">{{ tasks.deadline }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">end_date</span>
                    <span class="ml-auto text-gray-900">{{ tasks.end_date }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">invitees</span>
                    <span class="ml-auto text-gray-900">{{ tasks.invitees }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">status</span>
                    <span class="ml-auto text-gray-900">{{ tasks.status }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">referenceNotes</span>
                    <span class="ml-auto text-gray-900">{{ tasks.referenceNotes }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">reminder</span>
                    <span class="ml-auto text-gray-900">{{ tasks.reminder }}</span>
                </div>

                <div class="flex border-t border-b mb-6 border-gray-300 py-2">
                    <span class="text-gray-500">repeat</span>
                    <span class="ml-auto text-gray-900">{{ tasks.repeat }}</span>
                </div>

                
            </div>
    </div>
  </section>
{% endblock content %}