{% extends "base.html" %}

{% block content %}

<section class="text-gray-700 body-font overflow-hidden">
    <div class="container px-5 py-24 mx-auto">
        <div class="lg:w-4/5 mx-auto flex flex-wrap">
            <div class="w-full lg:pr-10 lg:py-6 mb-6 lg:mb-0">
                <div class="w-full flex items-center justify-between space-x-6">
                    <div class="flex-1 truncate">
                        <div class="flex items-center space-x-3">
                            <h3 class="text-3xl text-gray-900 font-medium truncate">{{ party.first_name }} {{ party.last_name }}</h3>
                        </div>
                        <p class="mt-1 text-xl text-gray-500 truncate">{{ party.description }}</p>
                    </div>
                    {% if party.profile_picture %}
                    <img class="w-11 h-20 sm:w-20 sm:h-20 bg-gray-300 rounded-full flex-shrink-0" src="{{ party.profile_picture.url }}" alt="">
                    {% endif %}
                </div>
                <div class="flex mb-4">
                    <a href="{% url 'parties:party-detail' party.pk %}" class="flex-grow text-indigo-500 border-b-2 border-indigo-500 py-2 text-lg px-1">
                        Overview
                    </a>
                    <a href="{% url 'parties:party-update' party.pk %}" class="flex-grow border-b-2 border-gray-300 py-2 text-lg px-1">
                        Update Details
                    </a>    
                </div>
                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Type</span>
                    <span class="ml-auto text-gray-900">{{ party.user_type }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Preferred Contact</span>
                    <span class="ml-auto text-gray-900">{{ party.preferred_contact_method }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Primary Number</span>
                    <span class="ml-auto text-gray-900">{{ party.primary_number }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">WhatsApp Number</span>
                    <span class="ml-auto text-gray-900">{{ party.whatsapp_number }}</span>
                </div>

                <div class="flex border-t border-gray-300 py-2">
                    <span class="text-gray-500">Email</span>
                    <span class="ml-auto text-gray-900">{{ party.email }}</span>
                </div>

                <div class="flex border-t border-b mb-6 border-gray-300 py-2">
                    <span class="text-gray-500">Agent</span>
                    <span class="ml-auto text-gray-900">{{ party.agent }}</span>
                </div>
            </div>
    </div>
  </section>
{% endblock content %}